body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {width: 100%; max-width: 37.5em; margin: 0 auto;}

.wrapper h2 {margin-top: 0;}

.logo {width: 3.4em; margin-left: .6em;}

.appname {margin-left: 4.2em; color: #E34A27; font-size: .94em; font-style: italic; text-transform: uppercase}

.banner {width: 100%; max-width: 37.5em}

.btn-board {font-size: clamp(1.4em, 3vw, 4em); text-transform: uppercase;}

.alternative {margin-top: 3em; text-align: center;}

.border-left {border-left: .2em solid #36454F; padding-left: 1.6em;}

.hidden {display: none;}

.margin-btn {margin-top: .8em;}

.margin-top {margin-top: 1.4em;}

.margin-bottom {margin-bottom: 1em;}

.ulabel {display: inline-block; width: 7em; font-style: italic;}

.utools .ui-btn {width: 2.6em; height: 2.6em; margin-left: .3em; border-radius: 50%;}
